<div class="content-footer w-100 f-left">
    <div class="box-footer f-left">
        <h3 class="title-footer">Sobre Nós</h3>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima vero quae autem ducimus illo, adipisci quisquam eaque, nostrum quod molestias quos distinctio eum soluta sint! Ex eligendi cum earum, eius!</p>
        </div>
    </div>
    <div class="box-footer f-left">
        <h3 class="title-footer">Redes Socias</h3>
        <div>
           <div class="wrapper-social-media">
                <p> <a href="#" title="Curta nossa página no Facebook"><i class="icon-facebook-circled"></i></a> </p>
                <p> <a href="#" title="Inscreva-se no nosso canal no YouTube"><i class="icon-youtube-play"></i></a> </p>
                <p> <a href="#" title="Siga-nos no Instagram"><i class="icon-instagram-circled"></i></a> </p>
            </div>
        </div>
    </div>
    <div class="box-footer f-left">
        <h3 class="title-footer">Contato</h3>
        <div>
            <p> <i class="icon-phone"></i> 12 3211-8595</p>
            <p> <i class="icon-tty"></i> 12 3211-8536</p>
            <p> <i class="icon-mail-alt"></i> satraveltours@hotmail.com</p>
        </div>
    </div>
</div>
<div class="after-footer w-100 f-left">
    <p>copyright 2017 - Desenvolvido por Wesley Moraes</p>
</div>
