<div class="slider f-left w-100">
    <div class="item">
        <a>
            <div></div> <!-- To make a background and make the image better way to see -->
            <img src="../img/carousel/wallpaper01.jpg" alt="">
        </a>
        <h3>SUA MELHOR FÉRIAS EM PORTO SEGURO</h3>
        <h4>Faça uma viagem inesquecível para Porto Seguro com seus famíliares!</h4>
    </div>
    <div class="item">
        <a href="#">
            <div></div>
            <img src="../img/carousel/wallpaper02.jpg" alt="">
        </a>
        <h3>Seu conforto é garantido</h3>
        <h4>Oferecemos toda segurança e comodidade!</h4>
    </div>
    <div class="item">
        <a href="#">
            <div></div>
            <img src="../img/carousel/wallpaper03.jpg" alt="">
        </a>
        <h3>Viagem incrível que está por vir</h3>
        <h4>Aproveite a promoção de verão! Faça sua reserva!</h4>
    </div>
    <div class="item">
        <a href="#">
            <div></div>
            <img src="../img/carousel/wallpaper04.jpg" alt="">
        </a>
        <h3>Seja um conveniado</h3>
        <h4>Clique e veja as vantagens de ser um conveniado!</h4>
    </div>
</div>


<section class="info-travells f-left w-100 section-custom">
    <div class="wrapper-section w-100 f-left">

        <!-- Title Section -->
        <div class="w-100 f-left">
            <div class="title-section">
               <div class="line-title-left"></div>
                <i class="icon-globe"></i>
                <div class="line-title-right"></div>
            </div>
            <div class="content-section">
                <p>
                    Veja para quais lugares deseja viajar com os melhores custos e benefícios oferecidos! Não perca mais tempo e entre em contato conosco. Temos os melhores custos para você aproveitar a vida!
                </p>
            </div>
        </div><!--end Title Section -->

        <!-- pack info -->
        <div class="w-100 f-left">
            <div class="box-info-travel">
              <a href="#">
               <img src="../img/info-travel/guarapari.jpg" alt="">
               <div class="info-travel w-100">
                   <div>
                       <p>Guarapari</p>
                       <p>4 dias</p>
                   </div>
                    <div>
                       <p>Espirito Santo</p>
                       <p>12x de R$70,00</p>
                   </div>
               </div>
               </a>
            </div>
            <div class="box-info-travel">
              <a href="#">
                   <img src="../img/info-travel/trindade.jpg" alt="">
                   <div class="info-travel w-100">
                       <div>
                           <p>Trindade</p>
                           <p>3 Dias</p>
                       </div>
                        <div>
                           <p>GOIÁS</p>
                           <p>6x de R$110,00</p>
                       </div>
                   </div>
               </a>
            </div>
            <div class="box-info-travel">
              <a href="#">
                   <img src="../img/info-travel/serrasgauchas.jpg" alt="">
                   <div class="info-travel w-100">
                       <div>
                           <p>Serras Gaúchas</p>
                           <p>5 Dias</p>
                       </div>
                        <div>
                           <p>Rio Grande do Sul</p>
                           <p>12x de R$110,00</p>
                       </div>
                   </div>
               </a>
            </div>
            <div class="box-info-travel">
              <a href="#">
                   <img src="../img/info-travel/caldasnovas.jpg" alt="">
                   <div class="info-travel w-100">
                       <div>
                           <p>Caldas Novas</p>
                           <p>4 Dias</p>
                       </div>
                        <div>
                           <p>Goiás</p>
                           <p>10x de R$108,00</p>
                       </div>
                   </div>
               </a>
            </div>
            <div class="box-info-travel">
              <a href="#">
                   <img src="../img/info-travel/jau.jpg" alt="">
                   <div class="info-travel w-100">
                       <div>
                           <p>Barra Bonita/Jaú/Ibitinga</p>
                           <p>2 Dias</p>
                       </div>
                        <div>
                           <p>São Paulo</p>
                           <p>6x de R$115,00</p>
                       </div>
                   </div>
               </a>
            </div>
            <div class="box-info-travel">
              <a href="#">
                   <img src="../img/info-travel/portoseguro.jpg" alt="">
                   <div class="info-travel w-100">
                       <div>
                           <p>Porto Seguro</p>
                           <p>4 Dias</p>
                       </div>
                        <div>
                           <p>Bahia</p>
                           <p>10x de R$108,00</p>
                       </div>
                   </div>
               </a>
            </div>
        </div><!-- end pack info -->
    </div>
</section><!-- end info travell -->

<section class="home-trades f-left w-100"><!-- trades -->
   <div class="w-100 f-left">

        <div class="title-trades w-100">
            <h2>Promoções</h2>
        </div>

        <div class="wrapper-trades-info">
            <div class="box-trade f-left">
               <a href="#" class="f-left w-100">
                    <div>
                        <div class="title-trade">
                            <p>Destino: Porto Seguro</p>
                        </div>
                        <p>Visitaremos: </p>
                        <p>
                            - As Praias<br />
                            - Centro Cultural
                        </p>

                        <p> <i class="icon-cancel"></i> Custo: R$3.459,00</p>
                        <p> <i class="icon-check "></i>Promoção: R$1.538,00</p>
                    </div>
                    <div>
                        <p>35%</p>
                    </div>
                </a>
            </div><!-- end box trade-->

            <div class="box-trade f-left">
               <a href="#">
                <div>
                    <div class="title-trade">
                        <p>Destino: Porto Seguro</p>
                    </div>
                    <p>Visitaremos: </p>
                    <p>
                        - As Praias<br />
                        - Centro Cultural<br />
                        - Parque de Diversão<br />
                        - Centro Cultural
                    </p>

                    <p><i class="icon-cancel"></i>Custo: R$3.459,00</p>
                    <p><i class="icon-check "></i>Promoção: R$1.538,00</p>
                </div>
                <div>
                    <p>35%</p>
                </div>
                </a>
            </div><!-- end box trade-->

            <div class="box-trade f-left">
               <a href="#">
                    <div>
                        <div class="title-trade">
                            <p>Destino: Porto Seguro</p>
                        </div>
                        <p>Visitaremos: </p>
                        <p>
                            - As Praias<br />
                            - Centro Cultural <br />
                        </p>

                        <p> <i class="icon-cancel"></i> Custo: R$3.459,00</p>
                        <p> <i class="icon-check "></i> Promoção: R$1.538,00</p>
                    </div>
                    <div>
                        <p>35%</p>
                    </div>
                </a>
            </div><!-- end box trade-->
        </div><!-- end wrapper trade info-->
    </div>
</section>

<section class="home-partnerships section-custom f-left w-100">
   <div class="wrapper-section w-100 f-left">
    <!-- Title Section -->
        <div class="w-100 f-left">
            <div class="title-section">
               <div class="line-title-left"></div>
                <i class="icon-handshake-o"></i>
                <div class="line-title-right"></div>
            </div>
            <div class="content-section">
                <p>
                    Nossa organização possui <b>grandes parcerias</b> com outras empresas! Deseja se tornar um <a href="#"> conveniado?  Entre em contato conosco! </a>
                </p>
            </div>
        </div><!--end Title Section -->

<!--        <div class="wrapper-slider">-->
            <div class="slider-parterns w-100 f-left">
                <div class="item">
                    <a href="#">
                        <img src="../img/carousel-partnerships/customers.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="../img/carousel-partnerships/customers2.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="../img/carousel-partnerships/customers.png" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="../img/carousel-partnerships/customers2.png" alt="">
                    </a>
                </div>
            </div>
<!--        </div>-->

    </div>
</section>

<section class="why-us f-left w-100">
   <div class="w-100 f-left">
        <div class="title-why">
            <h2>Por que Nós?</h2>
        </div>
        <div class="wrapper f-left w-100">
            <div class="box">
                <p>Qualidade no atendimento</p>
            </div>
            <div class="box">
                <p>Promoções especiais para quem é conveniado</p>
            </div>
            <div class="box">
                <p> Nós realmente acreditamos no poder do relacionamento para com o cliente</p>
            </div>
        </div>
    </div>
</section>
